body {
	background-color: #3498db;
	font-family: Arial;
}

#login-form,
#registration-form {
	background-color: #fff;
	width: 320px;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 0;
}

label {
	display: inline-block;
	width: 100px;
}

div {
	padding: 10px 0;
}

input[type=text],
input[type=password] {
	border: none;
	border-bottom: 1px solid #ccc;
}

span {
	display: block;
	color: #e74c3c;
	font-size: 80%;
}

input[type=submit] {
	border: none;
	background-color: #3498db;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	border-bottom: 2px solid #2980b9;
}

textarea {
	max-width: 200px;
	max-height: 200px;
}